<%- include("header") %> 
        <div class="box" id="heading">
            <h1><%= listTitle %></h1>
        </div>

        <div class="box">
            <% for( let i = 0; i < newListItems.length; i++ ) { %>
                <div class="item">
                    <input type="checkbox" />
                    <p><%= newListItems[i] %></p>
                </div>
            <% } %>
            
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="New item" autofocus autocomplete="off"/>
                <button class="add-button" type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
        </div>
        <div class="btn-set">
            <form action="/work" method="post">
                <button class="normal-btn" type="submit">Work List</button>
            </form>
            <form action="/about" method="post">
                <button class="normal-btn" type="submit">About</button>
            </form>
        </div>
<%- include("footer") %> 